@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}
nav{
    background-color: rgb(255, 81, 0);
    color: white;
}
.nav-elements{
    padding: 10px 0px;
    display: flex;   
    list-style-type: none;
    font-size: 17px;
}
li{
    margin-right: 20px;
}
#dropdown{
    border: none;
    outline: none;
}
.appname{
    font-size: 20px;
}
.img{
    width: 100%;
    margin-bottom: 20px;
}
.heading{
    font-size: 25px;
    margin-bottom: 10px;
}
.details{
    color: gray;
    font-size: 15px;
    margin-bottom: 20px;
}
button{
    border: 1px solid rgb(36, 160, 237);
    box-shadow: 2px 2px 5px rgb(18, 86, 128);
    border-radius: 2px;
    padding: 12px 30px;
    background-color: rgb(36, 160, 237);
}
a{
    font-size: 12px;
    text-decoration: none;
    color: white;
}
.news-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.box{
    width: 505px;
}